<Configuration>
	<Properties>
		<Property name="infofile">log/info.log</Property>
		<Property name="debugfile">log/debug.log</Property>
		<Property name="warnfile">log/warn.log</Property>
		<Property name="errorfile">log/error.log</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d] [%p] [%l] %m%n" />
		</Console>
		<File name="InfoFile" fileName="${infofile}" append="false">
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%p] %m%n" />
		</File>
		<File name="DebugFile" fileName="${debugfile}" append="false">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%p] [%l] %m%n" />
		</File>
		<File name="WarnFile" fileName="${warnfile}" append="false">
			<ThresholdFilter level="WARN" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%p] [%l] %m%n" />
		</File>
		<File name="ErrorFile" fileName="${errorfile}" append="false">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%p] [%l] %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="InfoFile" />
			<AppenderRef ref="DebugFile" />
			<AppenderRef ref="WarnFile" />
			<AppenderRef ref="ErrorFile" />
		</Root>
	</Loggers>
</Configuration>